<!-- 
<div class="container bg">
<nav class="navbar navbar-expand-lg navbar-custom">
          
          <button class="btn">Home</button>
          <button class="btn"> About</button>
          <button class="right btn" (click)="login()">Login</button>
</nav>

</div> -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div style="background-color: tan;">
<mat-toolbar color="primary" class="mat-elevation-z4">

    <span><mat-icon>album</mat-icon> Music</span> 
    <button style="margin: 4px;" mat-icon-button ><mat-icon>menu</mat-icon></button>
    <div class="space"></div>
   
   <a mat-button routerLink=""> Home</a>
   <a mat-button routerLink=""> Charts</a>
   <a mat-button routerLink=""> About us</a>
   <a mat-raised-button color="accent" routerLink="/registration"> Sign up</a> 

   </mat-toolbar>
  </div>

    <!-- <p>
            <mat-toolbar color="primary">
             <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
              <mat-icon>menu</mat-icon>
            </button>
            <span>My App</span>
            <span class="example-spacer"></span>
            <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
              <mat-icon>favorite</mat-icon>
            </button>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
             <mat-icon>share</mat-icon>
           </button>
          </mat-toolbar>
          </p>
           -->