<!-- <div class="container bac">


<div class="bac">
    <h1>Welcome to Music World</h1>
</div>
</div>

<mat-card>
        <mat-card-header>
        <mat-card-title><h1>Home</h1></mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
           <div>
             <img src="../assets/bghomefull.jpg">
           </div>
           <div>
            <img src="../assets/bghome.png">
          </div>
        </mat-card-content>
        </mat-card> -->

        <div class="background">
          <br>
          <br><br><br><br><br><br>  
          <h1>Feel the joy within you</h1>
          
          </div>